@page "/tradingview"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="container">
    <div id="tradingViewChart" style="width: 100%; height: 500px;"></div>
</div>

@code {
    private IJSObjectReference? module;
    private DotNetObjectReference<TradingViewChart>? objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/tradingViewInterop.js");
            await module.InvokeVoidAsync("tradingViewInterop.initializeChart", "tradingViewChart");
        }
    }

    public async Task SetSymbol(string symbol)
    {
        if (module != null)
        {
            await module.InvokeVoidAsync("tradingViewInterop.setSymbol", symbol);
        }
    }

    public void Dispose()
    {
        objRef?.Dispose();
        module?.DisposeAsync();
    }
}